.config
downloads
Downloads
.z*
.w3m
.vimp*
.texlive
.ssh
.wifi-info
.viminfo
.local
.mozilla
.gnupg
.emacs.keyfreq
.dbus
.dmenu_cache
.icons
.lesshst
.emacs.keyfreq
.Xauthority
.backups
.bash*
.gtkrc-2.0
.python_history
.smex-items
.temp.swp
documents
.cache
temp
.vim_runtime
.vimrc
node_modules
.gitignore
write
